{% import "macros.html" as macros %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock head %}
</head>

<body class="bg-body-tertiary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Score Sphere</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if tab =='game' %}active{% endif %}"
                            href="{{ url_for('game.index', status__in='not-started,in-progress') }}">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if tab =='chat' %}active{% endif %}"
                            href="{{ url_for('chat.index') }}">Chat Demo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="{{ url_for('swagger_ui') }}">Swagger UI</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Helpful Links
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://getbootstrap.com/docs/5.3">Boostrap 5.3
                                    Documentation</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://quart.palletsprojects.com/en/latest/">Quart</a>
                            </li>
                            <li><a class="dropdown-item" target="_blank" href="https://tortoise.github.io/">Tortoise
                                    ORM</a></li>
                        </ul>
                    </li>
                </ul>
                {% if current_user.is_authenticated %}
                <div class="dropdown">
                    <a class="dropdown-toggle text-decoration-none text-white d-flex align-items-center" href="#"
                        id="profile-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ macros.user_icon(current_user, 32, "me-2")}}
                        {{ current_user.name }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="ajax-modal dropdown-item"
                                href="{{ url_for('user.update', id=current_user.id) }}">Edit Profile</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Sign out</a></li>
                    </ul>
                </div>
                {% else %}
                <div>
                    <a href="{{ url_for('auth.login') }}" class="text-white text-decoration-none"><i
                            class="bi bi-box-arrow-in-right"></i> Sign
                        in</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container my-5">
        {% block content %}{% endblock content %}
    </div>

    <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-fullscreen-sm-down modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/core.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form2js.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/websocket.js') }}"></script>
    <script>
        /* Let the server know what timezone the user is in */
        document.cookie = "tz=" + (new Date().getTimezoneOffset() * 60) + ";path=/";
    </script>
    {% block script %}{% endblock script %}
</body>

</html>