{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block content %}
<div class="form-signin w-100 m-auto">
    <div style="width:330px" class="m-auto">
        <form class="ajax" method="POST" action="{{ url_for('api.auth.token_create') }}">
            <input name="r" type="hidden" value="{{ r }}" />
            <h3 class="mb-3 fw-normal">Log In</h3>

            {{ macros.text('email', none, placeholder='name@example.com', label='Email Address') }}
            {{ macros.text('password', none, type='password') }}

            <button class="w-100 btn btn-lg btn-primary" type="submit">
                <span class="d-none loading-spinner spinner-border spinner-border-sm"></span>
                Log in
            </button>
            <div class="status"></div>
        </form>
    </div>

    <div class="text-center">
        Don't have an account? <a href="{{ url_for('auth.signup', r=r) }}">Sign Up</a>
        <center>OR</center>
        <a class=" btn btn-primary btn-lg px-0 py-0" href="{{ url_for('google_auth.login', r=r) }}">
            <img class="rounded" src="{{ url_for('.static', filename='images/google.png') }}" alt="" height="50px">
            <span class="ms-3 me-3">Sign in with Google</span>
        </a>
    </div>
</div>
</div>
{% endblock content %}